export ENV=local
export APP_NAME=goapp
export APP_VERSION=1.0.0

# Authentication
export JWT_SECRET='GGHF_SzuA>N,y8QZtUX>S/QYw|;M:6GNe8T}u=.0lP25FKm]B=j31ltV8]T5l+1l1yxtAZBJ=X^vDSQ5xSIe.T'

# Database Configuration
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_STORENAME=goapp
export POSTGRES_USERNAME=postgres
export POSTGRES_PASSWORD=postgres
export POSTGRES_SSLMODE=disable

# Feature Flags
export ENABLE_METRICS=false
export ENABLE_TRACING=false
