export ENV=
export APP_NAME=
export APP_VERSION=

# Authentication
export JWT_SECRET=''

# Database Configuration
export POSTGRES_HOST=
export POSTGRES_PORT=
export POSTGRES_STORENAME=
export POSTGRES_USERNAME=
export POSTGRES_PASSWORD=
export POSTGRES_SSLMODE=

# Aerospike Configuration
export AEROSPIKE_HOST=localhost
export AEROSPIKE_PORT=3000
export AEROSPIKE_NAMESPACE=test
export AEROSPIKE_USERNAME=
export AEROSPIKE_PASSWORD=

# Web Configuration
export TEMPLATES_BASEPATH=./cmd/server/http/web/templates

# Feature Flags
export ENABLE_METRICS=
export ENABLE_TRACING=